*{
    margin: o;
    padding:0;
}

/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */

header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.logo{

width: 20%;
}
nav{

width: 50%;
}
header nav ul{

display: flex;

list-style: none;

justify-content: end;
}
header nav ul li{
    
margin-left: 50px;
}
header nav ul li a{
    
text-decoration: none;
    
color: #626262;
    
text-transform: uppercase;
font-family: 'Playfair Display', serif;
}
.banner_section{

width: 90%;

margin-left: 5%;
}
.banner_section img{
    
width: 100%;
}
.photodiary{

margin-top: 70px;

width: 80%;

margin: auto;

margin-top: 70px;

margin-bottom: 70px;
}
.photodiary h5{

color: #b4ad9e;

text-transform: uppercase;

font-weight: 400;

font-size: 14px;

margin-bottom: 15px;
font-family: 'Ubuntu', sans-serif;
}
.photodiary h1{
font-family: 'Playfair Display', serif;

color: #626262;

font-size: 30px;

font-weight: 400;

text-transform: capitalize;

margin-bottom: 15px;
}
.photodiary p{
    color: #626262;
    font-size: 15px;
    line-height: 2;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 22px;
    }

p {}
.photodiary h6{

color: #b4ad9e;

text-transform: uppercase;

font-weight: 400;

font-size: 14px;

margin-bottom: 15px;
font-family: 'Ubuntu', sans-serif;
}
.feature{

width: 80%;

margin: auto;

display: flex;
flex-wrap: wrap;

justify-content: space-between;
}
.feature_item img{
    
width: 100%;
    

}
.feature_item h5{

color: #b4ad9e;

text-transform: uppercase;

font-weight: 400;

font-size: 14px;

margin-bottom: 15px;

font-family: 'Ubuntu', sans-serif;
}
.feature_item p{

color: #626262;

font-size: 15px;

line-height: 2;

font-weight: 400;

margin-bottom: 15px;

line-height: 22px;
}
.feature_item h1{
    
font-family: 'Playfair Display', serif;
    
color: #626262;
    
font-size: 30px;
    
font-weight: 400;
    
text-transform: capitalize;
    
margin-bottom: 15px;
}
.feature_item{
    
width: 48%;
margin-bottom: 70px;
}
.newsletter{

background-color: #f0f0f0;

padding: 70px 0px;
margin-bottom: 70px;
}
.content{

width: 25%;

margin: auto;
}
.content h2{
    
font-family: 'Playfair Display', serif;
    
color: #626262;
    
font-size: 30px;
    
font-weight: 400;
    
text-transform: capitalize;
    
margin-bottom: 50px;
}
.content input{
    
border: none;
    
border-bottom: 1px solid;
    
width: 100%;
    
background: transparent;
}
.content input:focus{
    outline: none;
}
.content input::placeholder{
    font-family: 'Playfair Display', serif;
    color: #626262;
}
.loadmore{

text-align: center;

margin: 50px 0px;
}
.loadmore button{
    
background: transparent;
    
border: none;
    
font-size: 16px;
    
padding: 20px 30px;
    
border: 1px solid black;
    
text-transform: capitalize;
}
footer{
margin-top: 150px;
background: #f0f0f0;

padding: 30px 0px;
}
.footer_content{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.terms{

}
.terms ul{

list-style: none;

display: flex;
}
.terms ul li{

margin-right: 15px;
}
.terms ul li a{

text-decoration: none;

text-transform: capitalize;

font-size: 14px;

color: #626262;
}
.social_icon{

}
.social_icon ul{

list-style: none;

display: flex;
}
.social_icon ul li{
text-transform: capitalize;
margin-left: 15px;
}
.social_icon ul li a{
    color: #626262;
    text-decoration: none;
}